html, body {
    margin: 0;
    padding: 0;
}

.chart {
    width: 100%;
}

.chart svg {
    overflow-x: hidden;
}

.chart__offset-wrapper {
    height: 50px;
    position: relative;
    width: 100%;
}

.chart__offset-main-drag, .chart__offset-spacer {
    height: 100%;
}

.chart__offset-left-drag, .chart__offset-right-drag {
    position: absolute;
    width: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
    top: 0;
}

.chart__offset-left-drag {
    left: 0;
}

.chart__offset-right-drag {
    right: 0;
}