html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.charts {
    width: 100%;
}

.chart__title {
    font-weight: bold;
    margin-left: 15px;
}

.chart svg {
    overflow-x: hidden;
}

.chart__lines-viewport {
    transform-origin: left center;
}

.chart__offset-container {
    box-sizing: border-box;
}

.chart__offset-wrapper {
    height: 50px;
    position: relative;
    width: 100%;
}

.chart__offset-wrapper path {
    transition: d 0.3s, opacity 0.3s;
    transform-origin: left center;
}

.chart__viewport path {
    transition: d 0.3s, opacity 0.3s ease-out;
    transform-origin: left center;
}

.chart__offset-main-drag, .chart__offset-spacer {
    height: 100%;
}

.chart__offset-main-drag {
    height: 100%;
    stroke: rgba(222, 234, 244, 1);
    stroke-width: 4px;
}

.chart__offset-drag {
    width: 3px;
    y: 2px;
    height: 46px;
    fill: rgba(222, 234, 244, 1);
}

.chart__offset-spacer {
    fill: rgba(240, 248, 253, 0.7);
}

.chart__info-line {
    stroke: rgba(152, 152, 157, 0.4);
}

.chart__y-axis line {
    stroke-width: 1px;
    stroke: rgba(152, 152, 157, 0.3);
}

.chart__y-line line {
    stroke-width: 1px;
    stroke: rgba(152, 152, 157, 0.4);
}

.chart__x-axis text, .chart__y-axis text {
    font-size: 10px;
    text-anchor: middle;
    fill: rgba(152, 152, 157, 1);
}

.chart__y-axis text {
    text-anchor: start;
}

.chart__info-rect {
    filter: url('#info-filter');
}

.chart__info-value {
    font-weight: bold;
    font-size: 14px;
}

.chart__info-label {
    font-weight: 300;
    font-size: 12px;
}

.chart__y-axis g {
    transition: transform 0.3s;
}

@keyframes showing {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes hidden {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.showing {
    animation: showing 0.3s;
}

.hidden {
    opacity: 0;
    transition: opacity 0.3s;
}

.chart__toggle-check {
    display: inline-block;
    padding: 0 5px;
    box-sizing: border-box;
    border: 1px solid rgba(152, 152, 157, 0.4);
    border-radius: 15px;
    height: 30px;
    vertical-align: middle;
    font-size: 12px;
    line-height: 26px;
    margin-right: 10px;
}

.chart__toggle-check input {
    display: none;
}

.chart__toggle-check span {
    margin: 0 5px;
    vertical-align: middle;
}

.chart__toggle-check-icon {
    display: inline-block;
    height: 18px;
    width: 18px;
    position: relative;
    border-radius: 9px;
    vertical-align: middle;
}

.chart__toggle-check-icon:before, .chart__toggle-check-icon:after {
    content: '';
    position: absolute;
    left: 2px;
    top: 2px;
    width: 14px;
    height: 14px;
    transition: transform 0.3s;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.chart__toggle-check-icon:before {
    background-image: url('check.svg');
}

.chart__toggle-check-icon:after {
    background-image: url('none.svg');
    transform: scale(0);
}

.chart__toggle-check_disabled .chart__toggle-check-icon:before {
    transform: scale(0);
}
.chart__toggle-check_disabled .chart__toggle-check-icon:after {
    transform: scale(1);
}