html, body {
    margin: 0;
    padding: 0;
}

.chart {
    width: 100%;
}

.chart svg {
    overflow-x: hidden;
}

.chart__offset-wrapper {
    height: 50px;
    position: relative;
    width: 100%;
}

.chart__viewport path {
    /*transition: d 0.1s;*/
}

.chart__offset-main-drag, .chart__offset-spacer {
    height: 100%;
}

.chart__offset-main-drag {
    height: 100%;
    stroke: rgba(0, 0, 0, 0.6);
    stroke-width: 1px;
    cursor: grab;
}

.chart__offset-drag {
    width: 5px;
    height: 100%;
    fill: rgba(0, 0, 0, 0.6);
    cursor: grab;
}

.chart__offset-spacer {
    fill: rgba(0, 0, 0, 0.4);
}